@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Prompt:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.page-p1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900 !important;
  font-size: 30px;
  line-height: 39px;
  /* identical to box height, or 130% */

  color: #999999;
}
.page-p2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400 !important;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  text-align: center;

  color: #999999;
}
