@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Prompt:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --prompt-font: "Prompt", sans-serif;
  --lato-font: "Lato", sans-serif;
}

.special-font-prompt {
  font-family: var(--prompt-font);
}

.special-font-lato {
  font-family: var(--lato-font);
}

/* BREAKING NEWS CSS */
.breaking-news-container ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 30%;
  align-items: center;
}

.breaking-news-container ul {
  margin: 0;
  padding: 10px 20px;
}

.breaking-news-container ul li {
  list-style-type: none;
  color: #000000;
  font-family: var(--prompt-font);
  font-size: 12px;
  font-weight: bold;
}

.breaking-news-container ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 11px;
}

.breaking-news-container ul li a:hover {
  color: #ca0000;
}

.breaking-news-logo {
  background-color: #000000;
  padding: 9px 35px 11px 13px;
  clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);
  position: absolute;
}

.breaking-news-logo span {
  font-family: var(--prompt-font);
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.breaking-text-marquee {
  z-index: -1;
  position: relative;
  background-color: #ca0000;
  padding: 10px 15px;
}

.breaking-text-marquee span {
  font-family: var(--lato-font);
  font-size: 12px;
  font-weight: bold;
  color: white;
}
